body
/* esthétique de page avec un degradé & typo en blanc*/
{
color:white;
background-color:black;

background-image:radial-gradient(white, black);

text-align:center;

 }
 p {
  border-width:2px;
  border-style:groove;
  border-color:white;
  }




/*pour l'ensemble du contenu de page, donc toute la page*/


h1
{
  color:black;
  font-family: Arial,impact, comic;
  text-decoration :underline;

}
