body
{
background-color :#4A9A8A;
text-align:center;

 }





/*pour l'ensemble du contenu de page, donc toute la page*/


h1
{
  color:black;
  font-family: Arial,impact, comic;
  text-decoration :underline;

}
